
@mixin transform($value) {
    transform: $value;
    -moz-transform: $value;
    -webkit-transform: $value;
}
@mixin filter($filter) {
    -webkit-filter: $filter;
    filter: $filter;
}
@mixin transition($value) {
    transition: $value;
    -webkit-transition: $value;
}