@media screen and (max-width: 400px){
    .nav-bar {
        height: 50px;
        & > h1{
            display: none;
        }
    }
    .phonebook{
        font-size: $detail-font-size;
        width: 80%;
    }
    .info{
        width: 80%;
        input, label{
            width: 90%;
        }
    }
}